* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'montserrat', 'monospace';
}
body {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
nav {
	position: fixed;
	background-color: #00adb5;
	width: 100%;
	height: 10vh;
	display: flex;
	padding: 15px;
	z-index: 5;
}
.logo {
	color: #222831;
	padding-left: 10px;
	width: 100px;
	display: block;
}
nav ul {
	width: 100%;
	font-size: 1.5em;
	height: 100vh;
	display: block;
	background: #393e46;
	position: absolute; 
	left: 1000px;
	transition: 1s;
	top: 9vh;
	text-align: center;
}
nav li {
	list-style-type: none;
	padding: 5px 10px;
	text-transform: uppercase;
	margin: 7vh 0;
}
nav a {
	text-decoration: none;
	color: #eeeeee;
	padding: 5px 5px;
	font-weight: bold;
}
nav a :active {
	background: black;
	border-radius: 5px;
	opacity: 70%;
	color: #ff0000;
	transition: 1s;
}
nav a :active ~ ul {
	left: 10000px;
}
#check {
	display: none;
}
.checkbtn {
	color: #222831;
	cursor: pointer;
	height: 100%;
	display: block;
	font-size: 40px;
	margin-right: 5px;
}
#check:checked ~ ul {
	left: 0;
	top: 10vh;
}
main {
	background-color: #222831;
	color: #eeeeee;
}
#home,
#about,
#skill,
#experience,
footer {
	padding: 100px 5px;
	color: white;
	text-align: center;
	height: 100vh;
	width: 100%;
}
#home p {
	font-size: 0.5em;
}
#about p,
#skill p,
#experience p,
footer p {
	font-size: 1em;
	padding: 20px 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
	border-radius: 2em;
	margin-bottom: 20px;
}
#about h1,
#skill h1,
#experience h1,
footer h1 {
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 2em;
	color: #00adb5;
	text-shadow: 1px 1px 20px #00adb5;
}
#home h1 {
	font-size: 3em;
	font-family: 'Libre Baskerville';
	text-transform: uppercase;
}
#home h3 {
	font-size: 1.75em;
}
#home {
	background-image: url(./Images/steve.jpg);
	background-position: center;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 25vh;
}
#about img {
	width: 90%;
	border-radius: 2em;
}
.stats {
	margin-top: 20px;
}
.stats h2 {
	color: #eeeeee;
	font-size: 1.5em;
	text-shadow: 1px 1px 10px #eeeeee;
}
.bars {
	margin: 0 10px;
	margin-bottom: 25px;
}
.line {
	background: lightgrey;
	height: 5px;
	position: relative;
}
.html::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #00adb5;
	width: 80%;
}
.css::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #00adb5;
	width: 70%;
}
.sass::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #00adb5;
	width: 75%;
}
.sql::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #00adb5;
	width: 90%;
}
.info {
	display: flex;
	justify-content: space-between;
}
.info span {
	text-shadow: 1px 1px 10px #eeeeee;
}
#skill img {
	width: 90%;
	border-radius: 20px;
	margin-top: 20px;
}
.certi {
	text-decoration: none;
	color: black;
	padding: 10px;
	background: #eeeeee;
	border-radius: 5px;
	display: inline-block;
	margin-top: 15px;
}
.certi a {
	text-decoration: none;
}
#experience img {
	width: 90%;
	border-radius: 20px;
	margin-top: 20px;
}
footer {
	height: 50vh;
}
footer i {
	padding: 10px;
	margin: 0 10px;
	font-size: 2em;
	border-radius: 100%;
	background: #eeeeee;
	color: #222831;
}
footer i :active {
	background: black;
	color: #ff0000;
}
::-webkit-scrollbar{
	width: 0;
}
#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}
#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;
}
@keyframes animate{
	0%,100%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(360deg);
	}
}
#progressbar: before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
}
#progressbar: after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
}
@media (min-width: 670px) {
	nav a {
		font-size: 0.7em;
		padding: 5px 10px;
		transition: 1s;
		border-radius: 5px;
	}
	nav ul {
		margin: 0;
		padding: 0;
		display: flex;
		position: static;
		left: 0;
		width: 0;
		height: 0;
		margin-left: 20%;
	}
	nav li {
		margin: auto;
		margin-right: 20px;
		transition: 1s;
		border-radius: 5px;
		padding: 0;
	}
	nav li:hover,
	nav a:hover {
		color: #00adb5;
		background: #eeeeee;
	}
	.checkbtn,
	#check {
		display: none;
	}
	#home {
		text-align: left;
		background: url(./Images/jobs.jpg);
		background-attachment: fixed;
		background-position: right;
		padding-left: 10vw;
		padding-top: 45vh;
	}
	#home h1 {
		transition: 2s;
		display: inline-block;
	}
	#home h1:hover {
		word-spacing: 50px;
	}
	#about h1,
	#skill h1,
	#experience h1,
	footer h1 {
		font-size: 2.5em;
		transition: 2s;
		margin-bottom: 1em;
	}
	#about,
	#skill,
	#experience,
	footer {
		padding-top: 4em;
	}
	#about {
		background-size: cover;
		background-attachment: fixed;
		position: relative;
	}
	#about p {
		width: 40vw;
		display: inline-block;
		transition-duration: 1s;
		cursor: pointer;
		position: absolute;
		left: 50vw;
		margin-right: 10vw;
	}
	#about img {
		display: inline-block;
		width: 25em;
		height: 20em;
		position: absolute;
		left: 0;
		margin-left: 10vw;
	}
	#about p,
	#skill p,
	#experience p {
		cursor: pointer;
		width: 40vw;
	}
	.stats {
		width: 30vw;
		display: inline-block;
		margin-left: 5vw;
		margin-right: 0;
		margin-top: 0;
	}
	#skill img {
		width: 20em;
	}
	#skill p {
		height: 100px;
	}
	#experience {
		position: relative;
	}
	#experience img {
		position: absolute;
		margin-top: 0;
		width: 25em;
	}
	.certi {
		position: absolute;
		left: 65vw;
		margin-top: 140px;
	}
	#experience p {
		position: absolute;
		left: 50vw;
	}
	#about p:hover,
	#skill p:hover,
	#experience p:hover {
		background-color: #eeeeee;
		color: #393e46;
		transition-duration: 1s;
		font-weight: bold;
	}
	#home img,
	#about img,
	#skill img,
	#experience img {
		transition-duration: 1s;
		cursor: pointer;
		display: block;
	}
	.content {
		display: flex;
		margin: 0 10vw;
		flex-wrap: wrap;
		word-wrap: break-word;
	}
	.link i {
		transition-duration: 1s;
		cursor: pointer;
	}
	.link i:hover {
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
	}
}
